---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Contamination - PurpleCabinetStudios">
    <main>
        <main class="flex flex-col justify-center items-center">
            <div class="max-w-prose text-left m-4">
                <h2 class="font-display text-6xl md:text-7xl text-emerald-400">Contamination</h2>
                <p class="text-xl my-4">
                    Note: this entire page is a work in progress
                </p>
                <p class="text-xl my-4">
                    Contamination is a 2D platformer
                </p>
            </div>
        </main>
    </main>

</Layout>