---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contamination - PurpleCabinetStudios">
  <main>
    <main class="flex flex-col justify-center items-center">
      <div class="max-w-prose text-left m-4">
        <h2
          class="font-display text-6xl md:text-7xl text-emerald-400 text-center"
        >
          Contamination
        </h2>
        <section class="my-4">
          <h3 class="text-3xl md:text-4xl font-bold text-emerald-400">Overview</h3>
          <p class="text-xl my-4">
            A game based on a player who is stuck inside a radioactive facility
            and proceeds to escape it. There will be a lot of obstacles where
            the player must dodge and protect himself from radiation around him.
          </p>
        </section>
        <section class="my-4">
          <h3 class="text-3xl md:text-4xl font-bold text-emerald-400">About the player</h3>
          <p class="text-xl my-4">
            Our player is a normal human being who has no special powers. He is
            trying to save himself from the radiation and looks forward to
            escape the radioactive facility. All he must do is run.
          </p>
        </section>
        <section class="my-4">
          <h3 class="text-3xl md:text-4xl font-bold text-emerald-400">Waiting List</h3>
          <p class="text-xl my-4">
            The game is currently being developed. We will create a waiting list
            mechanism shortly, after which you will be able to get email-updates
            for our game
          </p>
        </section>
      </div>
    </main>
  </main>
</Layout>
