---
import Layout from '../layouts/Layout.astro';

---

<Layout title="LunarScaleStudios - Homepage">
	<main class="flex flex-col justify-center items-center">
		<div class="max-w-prose text-left m-4">
			<h2 class="text-5xl md:text-6xl mt-7 text-center font-bold font-display">About us</h2>
			<p class="text-xl my-3">
				We are a <strong class="font-bold text-blue-400">indie game studio</strong> based in Kolhapur, India
			</p>
			<p class="text-xl my-3">
				We're currently working on <a href="/contamination" class="font-display text-3xl text-emerald-300 underline">Contamination</a>
			</p>
		</div>
	</main>
</Layout>
