---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href="/base.css"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen text-center bg-gray-950 text-slate-100">
    <header>
      <a href="/">
        <h1
          class="text-7xl md:text-9xl text-blue-300 font-display drop-shadow-lg"
        >
          Lunar<wbr />Scale<wbr />Studios
        </h1>
      </a>
      <p class="text-xl text-blue-300 font-bold">An indie games studio</p>
    </header>
    <div class="flex-grow">
      <slot />
    </div>
    <footer>
      <div class="flex justify-center items-center m-4 p-4">
        <small
          >Copyright &copy; 2023 Vardhan Patil, Sanchit Pathak, Sundar
          Mahalingam</small
        >
      </div>
    </footer>
  </body>
</html>
